@import "src/styles/variate.scss";
@import "src/styles/variate.scss";
$backgroundColor: #031523;
$hoverBackgroundColor: #00070c;
$sidebarBackgroundColor: #002039;

.sidebar-menu{
    color: rgba(255, 255, 255, 0.8);
    &>.menu-item,&>.sidebar-submenu,&>.el-menu-item,&>.el-submenu__title,&>.el-submenu{
        background: $sidebarBackgroundColor;
        border-left: 4px solid #002039;
    }
    &>.menu-item>a{
        padding-left: 24px;
    }
    .sidebar-submenu{
        display: none;
    }

    a{
        display: block;
    }

    .is-opened>.sidebar-submenu{
        display: block;
    }

    .menu-item{
        height: 40px;
        line-height: 40px;
        font-size: $sidebarFontSize;
        color: rgba(255, 255, 255, 0.8);
        position: relative;
        transition: height .4s ease;
    }
        .is-opened{
            height: auto;
            background: #002039;
            .el-menu {
                border-right: 0;
                background: $backgroundColor;
            }
        }

    .sidebar-nav-title{
        display: inline-block;
    }

    .sidebar-submenu .submenu-item{
        min-width: 100%;
        padding-left: $sidebarFontSize * 1.2 + 34px;
        font-size: $sidebarFontSize - 2px;
    }

    &>.is-active{
        background: $hoverBackgroundColor;
        border-left-color: #104193;

        .is-active{
            border: none;
        }

        &>.el-menu{
            background: $hoverBackgroundColor;
        }
    }

    &>.is-opened{
        background: $backgroundColor;
        border-left-color: #104193;
        
    }
    .el-submenu >.is-opened{
        background: $backgroundColor;
    }
    .el-submenu .el-menu-item {
        height: 50px;
        line-height: 50px;
        width: 100%;
        font-size: 12px;
        min-width: 100%;
    }
        .is-active{
            &>a {
            color: #fff;
        }
    }

    .sidebar_menu_toggle, .submenu-item-tab{
        cursor: pointer;
        display: block;
        padding-left: 24px;
    }

    .menu-item:focus, .menu-item:hover,.sidebar_menu_toggle:hover, .sidebar-submenu .submenu-item:hover, .el-submenu:hover,.el-submenu__title:hover,.el-menu-item:hover{
            background: $hoverBackgroundColor;
            border-left-color: #104193;
    }

    &>.is-opened:hover{
        background: $backgroundColor;
        .is-active{
        border: none;
        }
    }

    .svg-icon {
        margin-right: 6px;
        font-size: 1.2em;
        color: #fff;
    }
  
    }
    /** 收缩边栏时的样式 **/
    .hideSidebar{
        .sidebar-menu{
            position: relative;
            z-index: 99;
            .sidebar_menu_toggle{
            text-align: center;
            }
            .menu-item{
            padding-top: 5px;
            padding-bottom: 25px;
            height: auto;
            font-size: 12px;
            min-height: 40px;
            margin-bottom: 0px;

            &>a>.sidebar-nav-title{
                line-height: 20px;
                min-height: auto;
            }
            }
            .is-opened{
            &:hover{
                background: $hoverBackgroundColor;
            }
            .sidebar-submenu{
                display: none;
            }
            }
            .menu-item:hover{
            .sidebar-submenu{
                background: $sidebarBackgroundColor;
                display: none;
            }
            }
            .svg-icon{
            margin-left: -4px;
            }
            .sidebar-submenu{
            display: none;
            }
            
            .el-menu--popup{
            background: $sidebarBackgroundColor;
            }
            .el-submenu__icon-arrow{
                display: none;
            }

            a:hover{
            color: #3e9ff1;
            }

            .menu-item>a>.sidebar-nav-title,.sidebar_menu_toggle .sidebar-nav-title{
            position: absolute;
            left: 0;
            width: 100%;
            top: 20px;
            text-align: center;
            line-height: 22px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            }
            .el-menu-item, .sidebar-nav-title{
            min-height: 44px;
            height: auto;
            }
            .el-submenu{
            min-width: auto;
            }
            
        }
        
        .sidebar-submenu{
            width: 130px;
            background: $sidebarBackgroundColor;

            .submenu-item{
            line-height: 40px;
            color: #fff;
            font-size: 12px;

            a{
                display: block;
                padding-left: 34px;
            }
            &.is-active, &:hover{
                background: $hoverBackgroundColor;
            }
        }
    }
}
