.FinancialConSole{
    height: 100%;
    background: url('../../assets/uiBG/bg.jpg') no-repeat center;
    overflow-x: hidden;
    padding: 0 50px;
    color: #fff;
    .financialtitle{
        font-size: 34px;
        font-family: FZZZHONGJW--GB1-0;
        color: #ffffff;
        font-weight: normal;
	    font-stretch: normal;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 100px;
    }
    .financial_top{
        display: flex;
        .TransactionFlow{
            flex: 1;
            min-height: 355px;
            background: url('../../assets/uiBG/mb.png') no-repeat center,url('../../assets/uiBG/middle.png') no-repeat center;
            background-size:100% 100%;
            margin-right: 36px;
        }
        .backlog{
            min-width: 307px;
            background: url('../../assets/uiBG/sb2.png') no-repeat center,url('../../assets/uiBG/small2.png') no-repeat center;
            background-size:100% 100%;
        }
    }
}